parameters:
    level: 8
    paths:
        - src
        - database
    scanFiles:
        - phpstan-constants.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php

includes:
    - phpstan-baseline.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
